<html>

<head>
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/stylumia.css">
    <script type="text/javascript" src="assets/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/common.js"></script>
    <script type="text/javascript" src="assets/index.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 border-bottom">
                <p>
                    <h3 class="text-center">
                        Neeraj Stylumia
                    </h3>
                </p>
            </div>
        </div>
        <div class="row" id="loginForm">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="exampleInputUsername1">Username</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp" placeholder="Enter Username">
                        <small id="emailHelp" class="form-text text-muted">Never share your credentials with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button id="loginFormSubmit" onclick="submitClick(event)" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>

</html>