<html>

<head>
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/stylumia.css">
    <script type="text/javascript" src="assets/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/common.js"></script>
    <script type="text/javascript" src="assets/index.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 border-bottom">
                <p>
                    <h3 class="text-center">
                        Version 2 release notes
                    </h3>
                </p>
            </div>
        </div>
      
    </div>
</body>

</html>